/* Basic Styles */
body {
    font-family: 'Monospace', Monaco;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.todo-container {
    background-color: rgba(139, 194, 223, 0.944);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

input,
select,
button {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: black;
}

.add-task-btn {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-task-btn:hover {
    background-color: #468b55;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: black;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

/* Task Priority Styles */
li.low {
    background-color: #d4edda;
}

li.medium {
    background-color: #fff3cd;
}

li.high {
    background-color: #f8d7da;
}

.progress-container {
    margin-top: 20px;
    text-align: center;
}

.progress-container progress {
    width: 100%;
}

.progress-container span {
    margin-top: 10px;
    display: block;
    font-size: 1.1rem;
}

/* Dark Mode */
body.dark-mode {
    background-color: #0e0e0e;
}

.todo-container.dark-mode {
    background-color: #022630ad;
    box-shadow: none;
}

/* Dark Mode Toggle Button */
.dark-mode-toggle {
    background-color: #2a2929;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode-toggle:hover {
    background-color: #555;
}

.dark-mode .dark-mode-toggle {
    background-color: #ddd;
    color: #111;
}

.dark-mode .dark-mode-toggle:hover {
    background-color: #aaa;
}

/* Responsive Design */
@media (max-width: 768px) {
    .input-container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .todo-container {
        width: 90%;
    }

    button,
    input,
    select {
        font-size: 0.9rem;
    }

    .dark-mode-toggle {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}